<!DOCTYPE html>
<html>
<head>
<title>Animations</title>
<style>
div {
transition: all linear 0.5s; 
height: 200px;
}
.ng-hide { height: 0;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
</head>
<body ng-app="myApp">
<h1>Angular animations</h1>
<h2>Click Here! To Hide<input type="checkbox" ng-model="myCheck"></h2>
<div ng-hide="myCheck">
    <img src="img/card12.png" alt="">
    <img src="img/card1.png" alt="">
    <img src="img/card3.png" alt="">
</div>
<br>
<h2>Click Here! To Show<input type="checkbox" ng-model="myCheck2"></h2>
<div ng-show="myCheck2">
    <img src="img/card4.png" alt="">
    <img src="img/card5.png" alt="">
    <img src="img/card6.png" alt="">
</div>
<script>
var app = angular.module('myApp', ['ngAnimate']);
</script>
</body>
</html>